.border{
  border:2px solid black;
}
.flex{
  display:  flex;
  font-weight: bold;
  padding: 10;
  
}
div{
  padding:0.7rem;
}

.img{
  max-width: 10rem;
  max-height: 5rem;
}
.perk{
  background-color: antiquewhite;
  font-size: 10px;
  font-weight: 100;
}
.vendor-address{
  font-size: 10px;
  font-weight: 100;
  /* padding: 0; */
  margin-right: 40px;
}

.cart{
  float: right;
  margin-left:auto;
}
.acart{
 
}